[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Instal·la el webmin
Type=Application
Terminal=true
Icon[ca_ES]=transmission
Exec=su -c /usr/share/guifi-release/system-config-webmin.sh
Name[ca_ES]=Instal·la el webmin
Icon=transmission
