/* $Id: style.css,v 1.2 2004/08/20 09:34:52 dries Exp $ */

/*
** HTML elements
*/
a, a:link, a:active {
  color: #930;
}
a:visited {
  color: #630;
}
body {
  padding: 0.5em 0 0 0.5em;
/*  background-image: url(background.png);
  background-repeat: repeat-x; */
  background: #fff url(comesfa/comesfa-back.jpg) no-repeat top right;
/*  font-family: arial, helvetica, sans-serif; */
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 86%;


  border-top: 0px solid gray;
}
ul {
  list-style-type: disc;
}
h2 {
/*  background-color: #eaeaea;
*/
/*  background-color: #ffee99;*/
  border-bottom: solid 1px #777;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em 0em 0.5em 0em;
  padding: 0.5em;
}


/*
** Page layout blocks / IDs
*/
#main {
  width: 70%;   
/*  width: 500px; */
}
#sidebar-left {
  border-right: 1px solid gray;
  width: 15%; 
/*  width: 50px; */
}
#sidebar-right {
  border-left: 1px solid gray;
  width: 15%; 
/*  width: 50px;  */
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
#header .title {
  font-size: 2em;
  font-weight: bold;
  padding-top: .75em;
}
#header .title a,
#header .title a:link,
#header .title a:visited,
#header .title a:active {
  text-decoration: none;
  color: #aaa;
}
#header .title a:hover {
  color: #930;
}
#header .site-slogan {
  margin-top: -0.1em;
  font-size: 0.8em;
}
.node .title {
  font-size: 1.2em;
}
.node .title a,
.node .title a:link,
.node .title a:active,
.node .title a:visited {
  text-decoration: none;
  font-weight: normal;
}
.node .title a:hover {
  text-decoration: underline;
}
.links {
  margin: 1em 0 3em 0;
  text-align: right;
 }
.comment .content, .block .content, .menu {
  font-size: 0.9em;
}
.block {
  padding-bottom: 1em;
}
.block .title {
  font-size: 1em;
}

/*
** Module specific styles
*/
.item-list ul li {
  list-style: square;
}
#aggregator .source {
  color: gray;
  font-style: italic;
  font-size: 0.9em;
}
#tracker tr.light, #tracker tr.dark {
  background-color: #eee;
}

#forum tr.light {
  background-color: #eee;
}

#forum tr.dark {
  background-color: #ddd;
