#wifi td.localization, #wifi td.distance, #wifi td.radio, #wifi td.mode, #wifi td.padri, #wifi td.orientation, #wifi td.azimuth, #wifi td.nodename, #wifi td.zone, #wifi td.contact {
  font-size: 0.9em;
  text-decoration: none;
}
#wifi td.online {
  font-size: 0.9em;
  background-color: #33FF00; color: black;
  text-decoration: none;
}
#wifi td.comarca {
  font-size: 1.4em;
  text-decoration: bold;
  text-decoration: underline;
}
#wifi td.poblacio {
  font-size: 1.2em;
  text-decoration: bold;
}
#wifi td.projectat {
  font-size: 0.9em;
  background-color: #66ffff; color: black;
  text-decoration: none;
}
#wifi td.construction {
  font-size: 0.9em;
  background-color: #ffff99; color: black;
  text-decoration: none;
}
#wifi td.proves {
  font-size: 0.9em;
  background-color: #ff9900; color: black;
  text-decoration: none;
}
#wifi td.offline {
  font-size: 0.9em;
  background-color: #ff3300; color: black;
  text-decoration: none;
}
#wifi tr.light {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
#wifi tr.dark {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}

